/* originally: -230px */
* {
  margin: 0; }

h1 {
  color: #2c5bc4;
  font-size: 24px;
  font-family: "Montserrat", Helvetica, sans-serif;
  letter-spacing: 8px;
  padding-bottom: 15px; }

a {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  color: #565656;
  text-decoration: none; }

a:hover {
  color: #848484;
  text-shadow: 0 0 10px #848484; }

.regular-text {
  color: #848484;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px; }

html {
  cursor: default;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #2c2c2d; }

#content {
  height: 100%; }

/* navigation bar */
.wrapper {
  min-height: 100%;
  margin: 0 auto -350px;
  /* the bottom margin is the negative value of the footer's height */ }

.footer, .wrapper.after {
  height: 175px; }

#nav-container {
  z-index: 1;
  width: 100%;
  height: 175px; }

#nav-content {
  float: left;
  position: relative;
  height: 120px;
  background: #101011;
  opacity: 0.95;
  padding-left: 150px;
  z-index: 2; }

#nav-bottom {
  /*	margin-top: 120px;*/
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
  background: #101011;
  opacity: 0.7; }

#nav-content-wrapper {
  padding: 20px;
  height: 100px; }
  #nav-content-wrapper #name {
    font: 100% "Montserrat", Helvetica, sans-serif;
    color: #2c5bc4;
    font-size: 42px;
    letter-spacing: 15px; }
  #nav-content-wrapper #title {
    font: 100% "Open Sans", Arial, sans-serif;
    color: #afafaf;
    font-size: 15px;
    letter-spacing: 1.5px; }

#nav-triangle {
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 50px solid #101011;
  opacity: 0.95; }

#please-stay-put {
  width: 100%;
  height: 120px;
  position: fixed;
  background: #101011;
  opacity: 0.95; }

#nav-square-container {
  margin-bottom: 0px;
  margin-top: -10px;
  position: relative;
  /*    background: white;*/
  width: 270px;
  height: 100px;
  z-index: 2;
  margin-left: auto;
  margin-right: 140px;
  float: right; }

#footer-info {
  /* 	background: white;*/
  z-index: 2;
  width: 270px;
  height: 100px;
  margin-right: 150px;
  margin-left: auto;
  /*	padding-top: 20px;*/
  color: white;
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center; }

#nav-triangle-container {
  margin-top: 20px;
  width: 240px;
  margin-right: 160px;
  margin-left: auto; }

#footer-pusher {
  height: 15px; }

#nav-info {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 40px;
  background: #101011;
  opacity: 0.7;
  padding-top: 20px; }

#nav-info-triangle {
  display: none;
  margin-right: auto;
  margin-left: auto;
  height: 0;
  width: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 15px solid #101011;
  opacity: 0.95; }

.nav-bt {
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  width: 80px;
  height: 45px;
  background: #252526;
  float: left;
  margin: 0 10px 10px 0px;
  font: 100% "Open Sans", Arial, sans-serif;
  color: #2c5bc4;
  font-size: 32px;
  text-align: center; }

.nav-bt:hover {
  text-shadow: 0 0 10px #0b7aff;
  color: #3981ea;
  background: #353535;
  cursor: pointer; }

#first-layer {
  width: 90px;
  margin-left: auto;
  margin-right: auto; }

#second-layer {
  float: left; }

.blue-text {
  color: #0b7aff; }

#nav-a {
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  color: #2c5bc4;
  background: #252526; }

#nav-a:hover {
  text-shadow: 0 0 10px #0b7aff;
  color: #3981ea;
  background: #353535;
  cursor: pointer; }

#nav-w {
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  color: #2c5bc4;
  background: #252526; }

#nav-w:hover {
  text-shadow: 0 0 10px #0b7aff;
  color: #3981ea;
  background: #353535;
  cursor: pointer; }

#nav-s {
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  color: #2c5bc4;
  background: #252526; }

#nav-s:hover {
  text-shadow: 0 0 10px #0b7aff;
  color: #3981ea;
  background: #353535;
  cursor: pointer; }

#nav-d {
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  color: #2c5bc4;
  background: #252526; }

#nav-d:hover {
  text-shadow: 0 0 10px #0b7aff;
  color: #3981ea;
  background: #353535;
  cursor: pointer; }

/* end navigation bar */
/**--------           MAIN PAGE CONTENT HERE        -------**/
/*** start page ***/
#start-container {
  /** STARTHIDDEN **/
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  background: white; }

#start-carousel {
  width: 100%;
  height: 100%;
  background-position: 50% 30%;
  background-image: url("../ggposter.jpg"); }

/*** end start ***/
/*** about page ***/
#about-container {
  z-index: 0;
  position: absolute;
  display: none;
  width: 100%;
  height: 600px;
  /*	background: white;*/ }

#about-content {
  position: absolute;
  width: 800px;
  height: 350px;
  /*	background: black;*/
  margin-left: auto;
  left: -800px;
  margin-right: auto;
  padding-top: 70px; }

#about-main {
  width: 780px;
  height: 305px;
  /*	background: gray;*/
  padding: 10px 0px 10px 0px; }

#about-pic {
  position: absolute;
  z-index: 4; }

#about-pic-padding-square {
  position: absolute;
  z-index: 3;
  height: 300px;
  width: 200px;
  background: #2c2c2d; }

#about-pic-padding {
  margin-left: -22px;
  margin-top: -22px;
  position: absolute;
  border-radius: 175px;
  z-index: 3;
  height: 350px;
  width: 350px;
  background: #2c2c2d; }

#about-text-content {
  margin-top: 3px;
  margin-left: 250px;
  float: left;
  position: relative;
  z-index: 2;
  width: 380px;
  height: 250px;
  background: #101011;
  padding: 35px;
  padding-left: 140px; }

#about-text {
  padding-bottom: 10px; }

#contact-info {
  padding-top: 5px; }

#email-img {
  float: left;
  padding-right: 20px; }

#email-text {
  padding-top: 2px;
  float: left; }

#email {
  height: 30px;
  width: 215px;
  font-size: 14px;
  color: #565656;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear; }

#email:hover {
  text-shadow: 0 0 10px #848484;
  color: #848484; }

#phone {
  font-size: 14px;
  height: 20px;
  width: 200px;
  color: #565656;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear; }

#phone-text {
  float: left;
  padding-top: 2px; }

#phone-img {
  float: left;
  padding-right: 20px; }

#phone:hover {
  text-shadow: 0 0 10px #848484;
  color: #848484; }

/*** end about page ***/
/***------------ begin work page -----------***/
#work-container-boss {
  display: none; }

#work-container {
  width: 100%;
  position: absolute;
  z-index: 0;
  /*	position: absolute;*/
  height: 400px;
  top: -400px; }

#work-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 700px;
  height: 340px; }

#work-title-container {
  opacity: 0.7;
  background: #101011;
  width: 150px;
  padding-top: 10px;
  padding-left: 30px;
  height: 40px;
  float: left; }

#work-title-triangle {
  width: 0;
  height: 0;
  border-bottom: 50px solid #101011;
  border-right: 50px solid transparent;
  opacity: 0.7;
  float: left; }

#games-container {
  float: left;
  margin: 10px 0px 20px -50px;
  width: 700px;
  height: 260px;
  padding: 10px; }

.game-box {
  float: left;
  height: 240px;
  width: 320px;
  margin: 10px 20px 10px 10px; }

#gg-container {
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-image: url("../griefforglory.png");
  background-position: center;
  width: 320px;
  height: 240px; }

#gg-container:hover {
  -webkit-box-shadow: 0 0 15px #3981ea;
  -moz-box-shadow: 0 0 15px #3981ea;
  box-shadow: 0 0 15px #3981ea;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-shadow: 0 0 10px #3981ea;
  color: #3981ea;
  cursor: pointer; }
  #gg-container:hover .game-genre {
    color: #3981ea; }

#cow-container {
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -ms-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
  transition: text-shadow 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-image: url("../cogsofwar.png");
  background-position: center;
  width: 320px;
  height: 240px; }

#cow-text-container {
  position: relative;
  width: 320px;
  height: 70px;
  background: #101011;
  opacity: 0.7; }

#cow-container:hover {
  -webkit-box-shadow: 0 0 15px #3981ea;
  -moz-box-shadow: 0 0 15px #3981ea;
  box-shadow: 0 0 15px #3981ea;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-shadow: 0 0 10px #3981ea;
  color: #3981ea;
  cursor: pointer; }

.game-text-container {
  position: relative;
  width: 290px;
  height: 50px;
  padding: 10px;
  padding-left: 20px;
  background: #101011;
  opacity: 0.7; }

.clear-box {
  height: 170px;
  width: 320px; }

.game-genre {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #2c5bc4;
  font-family: "Open Sans", Arial, sans-serif; }

.game-title {
  color: white;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px; }

/* **** COGS OF WAR INFO CONTENT **** */
#cowinfo-container {
  position: absolute;
  width: 400px;
  height: 700px;
  background: black; }
